*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Container{
    height: 100%;
    width: 100%;
    overflow-x: none;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    
  }

.navContainer{
    width:100vw;
   /* background-color: rgb(126, 126, 236); */
   background: rgb(34,193,195);
   background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,217,45,1) 100%);
   min-height: 80px;
   display:flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

nav{
    width: 100%;
    padding-right: 2rem;
}
#navList{
   
    margin-left: 15px;
    margin-right: 15px;
    list-style: none;
    font-size: 2.2rem;
    display:flex;
    justify-content: space-around;
    align-items: center;

}
#MAHI{
    font-size: 2.8rem;
   color:white;

}
a{
    text-decoration: none;
    color: whitesmoke;
}
#navitems{
   display: flex;
   gap:30px;
 
}

.footerBox{
    background-color: background: rgb(131,58,180);
    background: radial-gradient(circle, rgba(131,58,180,1) 38%, rgba(29,253,161,0.022002831894476493) 64%, rgba(252,176,69,1) 73%);
     width:100%;
     text-align:center;
     min-height:40px;

}
.footerBox{
    color:white;
    font-size: 2rem;
}

.contentBox{
    width: 70%;
    margin: auto;
    border: 3px solid black;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap:100px;
    padding: 3rem;
    box-shadow: 4px 4px 30px 4px rgb(1, 12, 16);
}
.item{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.rightBox{
    position: relative;
    overflow: hidden;

}






.rightBox img{
    height:200px;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
}
.rightBox img:hover{
    transform: scale(2.5);
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.leftBox{
    font-size: 1rem;
}
.modelBOx{

    font-size: 1rem;
}
.carBox{
    font-size: 1rem;

}
.rightBox .overlay{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgb(36,34,34,0.713);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s linear 0;
}
.rightBox:hover.overlay{
    opacity: 1;

}

.rightBox .overlay span{
    color:white;
    font-size: 1.2rem;

}